{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 id="cent">Enter a URL!</h1>
      </div>
      <div class="panel-body">
        <form class="" action="" method="post">
          {% csrf_token %}
          Title: <input type="text" name="title" value="" placeholder="title"> <br>
          URL Page: <input type="url" name="url_page" value="" placeholder="url" required="true"><br>
          Description: <input type="text" name="description" value="" placeholder="description"> <br>
          <input type="checkbox" name="public" value="True">Public? <br>
          <button id="log" type="submit" class="btn btn-success">Shorten!</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
